:host {
  display: flex;
  height: 60px;
  position: relative;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

img {
  height: 100%;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

chat-debug {
  position: absolute;
  right: 4rem;
  height: 60px;
}

chat-online-state-icon {
  position: absolute;
  right: 2rem;
  height: 60px;
}

chat-purge {
  position: absolute;
  right: 6rem;
  height: 60px;
}

chat-github {
  position: absolute;
  left: 2rem;
  height: 60px;
}
