@import 'variables';

:host {
  display: flex;
  flex: 1;
}

chat-react-contact-list {
  flex: 1;
}

.chat {
  flex: 3;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  border-left: 1px solid $blue;
  margin-left: 1rem;
  padding-left: 1rem;
}
