@import 'variables';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep {
  .connecting {
    color: $blue;
  }

  .connected {
    color: $green;
  }

  .disconnected {
    color: $red;
  }

}
